[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JackalFine
	email = 112927483+JackalFine@users.noreply.github.com
